/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Universal Styles */

.title__color {
  color: #a4161a;
}

.text__color {
  color: #d3d3d3;
}

/* Setting the background color */

body {
  background-color: #0b090a;
}

/* Header Styles */

.header__banner {
  margin-top: 7rem;
  margin-left: 15rem;
  left: 190px;
  width: 30%;
}

.header__title {
  width: 40%;

  font-size: 3rem;
  position: relative;
  left: 50%;
  bottom: 400px;
}

.header__subheading {
  margin-top: 0.8rem;
  margin-left: 1.3rem;
  font-size: 1.5rem;
  position: relative;
  left: 54%;
  bottom: 385px;
}

/* Blogpost Styles */

.blogpost {
  width: 80%;
  position: relative;
  left: 12%;
}

.blogpost__title {
  margin-bottom: 0.8rem;
}

.blogpost__subheading {
  text-align: center;
}

.blogpost__content {
  width: 80%;
  margin-bottom: 9rem;
  font-size: 1rem;
}

/* Blogpost imagebox styles */
.blogpost__imagebox {
  width: 70%;
  margin-left: 10rem;
  margin-top: 5rem;
}

.blogpost__imagebox__title {
  width: 20%;
  position: relative;
  top: 99px;
  left: 5%;
}

.blogpost__imagebox__figure {
  width: 60%;
  position: relative;
  left: 30%;
  top: -200px;
}

/* Fight Results Styles */

.results {
  margin-bottom: 3rem;
}

.results__image {
  margin-left: 10rem;
}

.results__title {
  text-align: center;
}

.results__list li {
  list-style: none;
  margin-top: 2rem;
  margin-left: 18rem;
}
